# Issue month: months corresponding to the forecasts used for monitoring
issue_months:
  - "05"
  - "06"
  - "07"
  - "08"
  - "09"
  - "10"
  - "11"
  - "12"
  - "01"
  - "02"

# First year of season to monitor operationally (e.g. 2024 for 2024/2025 season)
monitoring_year: 2024

# Last year of calibration period used for triggers selection (e.g. 2022 for 1981-2022)
calibration_year: 2022

# Month from which the monitoring starts (e.g. 5 if the first predictions are produced in May)
start_monitoring: 5

# Minimum length of indicator periods (ON, NDJ, JFMA...)
min_index_period: 2

# Maximum length of indicator periods (ON, NDJ, JFMA...)
max_index_period: 3

# First month of the wet season
start_season: 10

# Last month of the wet season
end_season: 6

# Start date of historical time series used in anomaly computation
hist_anomaly_start: null

# End date of historical time series used in anomaly computation
hist_anomaly_stop: "2018-12-31"

# Save (and overwrite if exists) ds (obs or probs) for future trigger choice
save_zarr: true

# Thresholds defining different drought intensities used in probabilities computation
intensity_thresholds:
  Severe: -1
  Moderate: -0.85
  Mild: -0.68

# Vulnerability class of triggers for each district: general or non-regret (GT or NRT)
districts_vulnerability: 
  Cahora_Bassa: "TBD"
  Caia: "TBD"
  Changara: "TBD"
  Chemba: "TBD"
  Chibabava: "TBD"
  Chibuto: "TBD"
  Chigubo: "TBD"
  Chicualacuala: "TBD"
  Chiure: "TBD"
  Cidade_Da_Beira: "TBD"
  Doa: "TBD"
  Funhalouro: "TBD"
  Govuro: "TBD"
  Guija: "TBD"
  Guro: "TBD"
  Homoine: "TBD"
  Jangamo: "TBD"
  Mabalane: "TBD"
  Mabote: "TBD"
  Machanga: "TBD"
  Machaze: "TBD"
  Magoe: "TBD"
  Mapai: "TBD"
  Magude: "TBD"
  Massangena: "TBD"
  Massinga: "TBD"
  Massingir: "TBD"
  Marara: "TBD"
  Moamba: "TBD"
  Mutarara: "TBD"
  Panda: "TBD"
  Tambara: "TBD"

# Tolerance for thresholds for each category, used to compute false alarm with tolerance
tolerance:
  Normal: 0
  Mild: 0
  Moderate: -0.44
  Severe: -0.68

# Skill requirements for General Triggers
general_t:
  HR: 0.5
  SR: 0.65
  FR: 0.35
  RP: 4.0

# Skill requirements for Non Regret Triggers
non_regret_t:
  HR: 0.5  # W/out exceptions: HR=0.65
  SR: 0.55
  FR: 0.45
  RP: 3.0

# Window definitions for SPI and DRYSPELL indicators
windows:
  spi:
    window1: ["ON", "ND", "DJ", "JF", "FM", "OND", "NDJ", "DJF", "JFM"]
    window2: ["MA", "AM", "MAM"]
  dryspell:
    window1: ["DJ", "JF", "FM"]
    window2: []
