# Issue month: months corresponding to the forecasts used for monitoring
issue_months:
  - "05"
  - "06"
  - "07"
  - "08"
  - "09"
  - "10"
  - "11"
  - "12"
  - "01"
  - "02"

# First year of season to monitor operationally (e.g. 2024 for 2024/2025 season)
monitoring_year: 2024

# Last year of calibration period used for triggers selection (e.g. 2022 for 1981-2022)
calibration_year: 2022

# Month from which the monitoring starts (e.g. 5 if the first predictions are produced in May)
start_monitoring: 5

# Minimum length of indicator periods (ON, NDJ, JFMA...)
min_index_period: 2

# Maximum length of indicator periods (ON, NDJ, JFMA...)
max_index_period: 3

# First month of the wet season
start_season: 10

# Last month of the wet season
end_season: 6

# Start date of historical time series used in anomaly computation
hist_anomaly_start: null

# End date of historical time series used in anomaly computation
hist_anomaly_stop: "2018-12-31"

# Save (and overwrite if exists) ds (obs or probs) for future trigger choice
save_zarr: true

# Thresholds defining different drought intensities used in probabilities computation
intensity_thresholds:
  Severe: -1
  Moderate: -0.85
  Mild: -0.68

# Vulnerability class of triggers for each district: general or non-regret (GT or NRT)
districts_vulnerability: 
  Caia: "NRT"
  Changara: "NRT"
  Chemba: "NRT"
  Chibuto: "NRT"
  Chigubo: "NRT"
  Chicualacuala: "NRT"
  Chiure: "NRT"
  Funhalouro: "NRT"
  Guija: "NRT"
  Mabalane: "NRT"
  Mabote: "NRT"
  Machanga: "NRT"
  Magoe: "NRT"
  Mapai: "NRT"
  Magude: "NRT"
  Massangena: "NRT"
  Massingir: "NRT"
  Moamba: "NRT"
  Marara: "NRT"
  Cahora_Bassa: "NRT"
  Magoe: "NRT"
  Machanga: "NRT"

# Tolerance for thresholds for each category, used to compute false alarm with tolerance
tolerance:
  Normal: 0
  Mild: 0
  Moderate: -0.44
  Severe: -0.68

# Skill requirements for General Triggers
general_t:
  HR: 0.5
  SR: 0.65
  FR: 0.35
  RP: 4.0

# Skill requirements for Non Regret Triggers
non_regret_t:
  HR: 0.5  # W/out exceptions: HR=0.65
  SR: 0.55
  FR: 0.45
  RP: 3.0

# Window definitions for SPI and DRYSPELL indicators
windows:
  spi:
    window1:
      Cabo_Delgado: ["DJ", "JF", "FM"]
      Gaza: ["ON", "ND", "DJ"]
      Inhambane: ["ON", "ND", "DJ"]
      Manica: ["ND", "DJ", "JF"]
      Maputo: ["ON", "ND", "DJ"]
      Maputo City: ["ON", "ND", "DJ"]
      Nampula: ["DJ", "JF", "FM"]
      Niassa: ["DJ", "JF", "FM"]
      Sofala: ["ND", "DJ", "DJF", "JF"]
      Tete: ["ND", "DJ", "DJF", "JF"]
      Zambezia: ["ND", "DJ", "JF"]
    window2:
      Cabo_Delgado: ["MA", "AM", "MJ"]
      Gaza: ["JF", "FM", "MA"]
      Inhambane: ["JF", "FM", "MA"]
      Manica: ["FM", "MA", "AM"]
      Maputo: ["JF", "FM", "MA"]
      Maputo City: ["JF", "FM", "MA"]
      Nampula: ["MA", "AM", "MJ"]
      Niassa: ["MA", "AM", "MJ"]
      Sofala: ["FM", "MA", "AM"]
      Tete: ["FM", "MA", "AM"]
      Zambezia: ["FM", "MA", "AM"]
  dryspell:
    window1:
      Cabo_Delgado: ["DJ", "JF", "FM"]
      Gaza: []
      Inhambane: []
      Manica: ["DJ", "JF"]
      Maputo: []
      Maputo City: []
      Nampula: ["DJ", "JF", "FM"]
      Niassa: ["DJ", "JF", "FM"]
      Sofala: ["DJ", "JF"]
      Tete: ["DJ", "JF"]
      Zambezia: ["DJ", "JF"]
    window2:
      Cabo_Delgado: ["MA", "AM", "MJ"]
      Gaza: ["DJ", "JF", "FM", "MA"]
      Inhambane: ["DJ", "JF", "FM", "MA"]
      Manica: ["FM", "MA", "AM"]
      Maputo: ["DJ", "JF", "FM", "MA"]
      Maputo City: ["DJ", "JF", "FM", "MA"]
      Nampula: ["MA", "AM", "MJ"]
      Niassa: ["MA", "AM", "MJ"]
      Sofala: ["FM", "MA", "AM"]
      Tete: ["FM", "MA", "AM"]
      Zambezia: ["FM", "MA", "AM"]
