# Issue month: months corresponding to the forecasts used for monitoring
issue_months:
  - "05"
  - "06"
  - "07"
  - "08"
  - "09"
  - "10"
  - "11"
  - "12"
  - "01"
  - "02"

# First year of season to monitor operationally (e.g. 2024 for 2024/2025 season)
monitoring_year: 2025

# Last year of calibration period used for triggers selection (e.g. 2022 for 1981-2022)
calibration_year: 2022

# Month from which the monitoring starts (e.g. 5 if the first predictions are produced in May)
start_monitoring: 5

# Minimum length of indicator periods (ON, NDJ, JFMA...)
min_index_period: 2

# Maximum length of indicator periods (ON, NDJ, JFMA...)
max_index_period: 3

# First month of the wet season
start_season: 10

# Last month of the wet season
end_season: 6

# Start date of historical time series used in anomaly computation
hist_anomaly_start: null

# End date of historical time series used in anomaly computation
hist_anomaly_stop: "2018-12-31"

# Save (and overwrite if exists) ds (obs or probs) for future trigger choice
save_zarr: true

# Thresholds defining different drought intensities used in probabilities computation
intensity_thresholds:
  Moderate: -0.85
  Normal: -0.44

# Vulnerability class of triggers for each district: general or non-regret (GT or NRT)
districts_vulnerability: 
  Beitbridge: "TBD"
  Bikita: "TBD"
  Binga: "TBD"
  Chiredzi: "TBD"
  Gwanda: "TBD"
  Hwange: "TBD"
  Kariba: "TBD"
  Masvingo: "TBD"
  Matobo: "TBD"
  Mbire: "TBD"
  Mount Darwin: "TBD"
  Mudzi: "TBD"
  Mwenezi: "TBD"
  Nkayi: "TBD"
  Rushinga: "TBD"

# Tolerance for thresholds for each category, used to compute false alarm with tolerance
tolerance:
  Normal: 0
  Mild: 0
  Moderate: -0.44
  Severe: -0.68

# Skill requirements for General Triggers
general_t:
  HR: 0.55 # 0.5  # W/out exceptions: HR=0.55
  SR: 0.55
  FR: 0.45
  RP: 4.0

# Skill requirements for Non Regret Triggers
non_regret_t:
  HR: 0.7 # 0.5  # W/out exceptions: HR=0.70
  SR: 0.55
  FR: 0.45
  RP: 3.0

# Window definitions for SPI and DRYSPELL indicators
windows:
  spi:
    window1: ["ON", "ND", "OND", "NDJ"]
    window2: ["DJ", "JF", "FM", "DJF", "JFM", "FMA"]
  dryspell:
    window1: ["ON", "ND"]
    window2: ["DJ", "JF", "FM"]

