name: Release CI-CD
on:
  # Run on pushes to main only.
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: "eu-central-1"

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONFIG_FILE: mkdocs.yml
          EXTRA_PACKAGES: build-base linux-headers
          REQUIREMENTS: docs/requirements.txt